root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Don't fight go ftm.
[*.go]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.json]
indent_size = 2

[*.csproj]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.env]
insert_final_newline = false
