<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nexus" value="https://nexus-repository.dev.az.trayport.com/repository/nuget/index.json" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="Nexus">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
